<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/normalize.css">
    <link rel="stylesheet" href="../public/skeleton.css">
    <title>Sow</title>
</head>
<body>
    <div class="container">
        <h1>Add New Item</h1>
        <form action="/budgets" method="POST">
            <input type="text" placeholder="Date" name="date" /><br />
            <input type="text" placeholder="Name" name="name" /><br />
            <input type="text" placeholder="Amount" name="amount" /><br />
            <input type="text" placeholder="From" name="from" /><br />
            <input type="text" placeholder="Tags" name="tags" /><br />
            <input type="submit" name="Create New Item" /><br />
        </form>
    </div>
</body>
</html>